fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
python-dotenv
pydantic-settings
requests
resend
beautifulsoup4
python-multipart
aiofiles
pandas
openpyxl
fpdf
playwright
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator
google-api-python-client
google-auth
google-auth-oauthlib
boto3
